.vcard {
    margin-left: 50px;
    width: 400px;
    margin-right: 50px;
    height: 380px;
  }
  .carousel {
    height: 500px; /* set your desired minimum height */
  }
  
  .homeu {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .navb {
    background-color: #0077b6;
  }
  .navb a:hover {
    color: #1da1f2;
    text-decoration: underline;
  }
  .footer {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .social-icons a {
    color: white;
    margin: 0 10px;
  }
  
  .social-icons a:hover {
    color: #1da1f2;
  }
  .desc {
    font-size: 20px; /* Increase the text size to 20px */
    text-align: left; /* Align the text to the left */
    margin: 0; /* Remove default margin */
    padding: 15px;
    margin-top: 30px;
  }
  .rrr {
    float: right; /* Float the image to the right corner */
    margin-right: 10px; /* Add margin to the right side of the image for space */
    margin-top: 10px;
  }